= form_for @recipe, :html => { class: 'recipe-form' } do |f|
  %label{for: 'title'} Title
  .field
    = f.text_field :title
  %label{for: 'body'} Body
  .field
    = f.text_area :body
  .actions
    = f.submit 'Save'
