%ul.recipe-list
  - @recipes.each do |recipe|
    %li.recipe
      .photo
        %img{:src => 'http://placehold.it/220x220'}
      .description
        .name= link_to recipe.name, recipe
        .meta
          by bdimcheff
          = time_ago_in_words recipe.created_at
          ago
        = recipe.description

