%ul.recipe-list
  - @recipes.each do |recipe|
    %li.recipe
      .photo
        %img{:src => 'http://placehold.it/220x220'}
      .description
        .author by bdimcheff
        .name= link_to recipe.name, recipe
        = recipe.description

