<div class="cheatsheet">
  <h2>Recipe Cheatsheet</h2>
      <h3>Format Text</h3>
      <p>Headers</p>
      <pre># This is an &lt;h1&gt; tag
## This is an &lt;h2&gt; tag
###### This is an &lt;h6&gt; tag</pre>
     <p>Text styles</p>
     <pre>*This text will be italic*
_This will also be italic_
**This text will be bold**
__This will also be bold__

*You **can** combine them*
</pre>
      <h3>Lists</h3>
      <p>Unordered (Ingredients)</p>
      <pre>* Item 1
* Item 2
  * Item 2a
  * Item 2b</pre>
     <p>Ordered (Steps)</p>
     <pre>1. Item 1
2. Item 2
3. Item 3
   * Item 3a
   * Item 3b</pre>
      <h3>Miscellaneous</h3>
     <p>Links</p>
     <pre>http://tasteb.in
[tastebin](http://tastebi.n)</pre>
<p>Blockquotes</p>
     <pre>As Julia Child said:
&gt; The only time to eat diet
&gt; food is while you're waiting
&gt; for the steak to cook.
</pre>
</div>

