<h1>Ruby Manhattan</h1>

<h2>Ingredients</h2>

<ul>
<li>1.75 oz Rye Whisky</li>
<li>0.75 oz Port</li>
<li>dash of Angostura bitters</li>
</ul>

<h2>Steps</h2>

<ol>
<li>Put all 3 ingredients into a martini shaker.</li>
<li>Add a few ice cubes.</li>
<li>Shake vigorously for 10 seconds.</li>
<li>Pour into a lowball glass.</li>
<li>Enjoy</li>
</ol>

