.hero-unit
  %h1 Cook. Eat. Share.
  %p Easily share your favorite recipes on tastebin!
  %p
    %a.btn.primary.large{href: new_recipe_path} Create a New Recipe &rarr;
.row.conversion-graphic
  .markdown.span5
    %h2 Turns this:
    %pre.prettyprint= render partial: 'markdown_sample_recipe'
  .arrow.span2
    %h1 &rarr;
  .recipe.span5
    %h2 Into this:
    .rendered.well
      = render partial: 'rendered_sample_recipe'
