div.recipe-form-box

form.recipe-form
  margin-top: 20px
  padding-left: 20px
  input[type='text'], textarea
    width: 650px
  div.form-actions
    margin-left: -20px

div.recipe-help

div.recipe-full
  h1.recipe-name
    @extend .page-header

  .tags
    & > ul
      @include horizontal-list

ul.recipe-list
  margin: 0

  li.recipe
    @include no-bullet
    @extend .row
    margin-left: -20px
    margin-bottom: 20px

    div.photo

    div.description
      height: 220px
      overflow: hidden

      div.name
        margin-top: 0
        @extend .page-header
        @extend h2

      div.meta
        float: right
        font-size: smaller
